body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }
  
  h1 {
    color:forestgreen;
    text-align: center;
  }
  
  .js {
    color:black;
    text-align: center;
  }